h1 { 
    color: yellow;
    text-align: center;
    font-size: 50px;

}
h3 { 
    color: #da1515;
    font-size: 30px;
}
p { 
    color: white;
    font-size: 18px;
}
body { 
    background-image:url(images/nuage\ 1.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: "Reem Kufi", sans-serif;
    

}
    

ol { 
    color:white ;
}
.main {
    color: white; 

}
.a { 
    color: white;
}
@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 15px;
    }
 }
 @media (max-width: 480px) {
    form {
        width: 100%;
        box-shadow: none; 
    }
}

    